@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.container{
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  line-height: 25px;
  width: 1000px;
  margin: auto;
}
.flex-container{
  display: flex;
  flex-direction: row;
}
.flex-container > div{
  width: 1000px;
  /* width: 100%; */
}
.kiri{
  margin-top: 45px;
  padding: 30px;
  /* flex: 480px; */
  flex: 1;
}
.kanan{
  padding: 30px;
  /* flex: 480px; */
  flex: 1;
  display: flex;
  flex-direction: column;
}
.judul-kanan {
  letter-spacing: 3px;
  font-weight: 900;
}
.judul-kiri{
  font-weight: 900;
  font-size: 30px; 
}
.paragraf-kanan{
  margin-right: 20px;
  padding-right: 5px;
}
.button-mission {
  background-color: #043bf0; 
  border: none;
  color: white;
  box-shadow: 10px 10px 30px grey;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 200px;
  margin-bottom: 30px;
  position: relative;
  margin-left: -50px;
}
img{
  /* float: right; */
  width: 250px;
  height: 300px;
  /* margin-right: 120px; */
  align-self: flex-end;
}
.pindah{
  /* margin-right: -120px; */
  align-self: center;
}
.popup{
  background-color: #465c7c; 
  border: none;
  color: white;
  box-shadow: 10px 10px 30px grey;
  padding: 15px 32px;
  text-align: center;
}

/* background pop up nya */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  -webkit-animation-name: fadeIn; 
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}
.modal-content {
  position: fixed;
  top:200px; 
  left:400px; 
  width:820px; 
  background-color: #fefefe;
  font-family: 'Montserrat', sans-serif;
  width: 500px;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}
.close {
  background-color: #465c7c; 
  border: none;
  color: white;
  box-shadow: 10px 10px 30px grey;
  padding: 8px 10px;
  margin: 10px 5px;
  text-align: center;
  float: right;
  font-size: 12px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
  background-color: white;
  color: #465c7c;
  font-size: 12px;
}
.modal-body {
  padding: 2px 16px;
}

/* responsive */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}